
.bgM {
    background-image: url(../images/1567665.png);
    background-size: cover;
    background-position: center;
}

.mainNavbg {
    background-image: url(images/redHbgjpg.jpg);
    background-size: cover;
    background-position: center;
}

.navbg {
    background-image: url(images/redHbgjpg.jpg);
    background-size: cover;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 40px;
}

.bottonbgM {
    color: inherit;
}

    .bottonbgM:focus {
        outline: 0 !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .bottonbgM:hover {
        color: inherit;
    }


.navbg .dropdown {
    width: 100%;
}
    .dropbg {
    background-image: url(images/redHbgjpg.jpg);
    background-size: cover;
    background-position: left;
}

#gameList .card {
    transition: transform .5s;
    position: relative;
    background-color: #adb5bd;
}

#gameList .card:hover {
    z-index: 9;
    transform: scale(1.1);
}

.navcolor2{
    color: white;
    padding-left:0;
}