.bgM {
    background-image: url(images/EL1.jpg);
    background-size: cover;
    background-position: center;
}
.navbg {
    background-image: url(images/headlinetest1.jpg);
    background-size: cover;
    background-position: center;
}
.mainNavbg {
    background-image: url(images/redHbgjpg.jpg);
    background-size: cover;
    background-position: center;
}
.bottonbgM{
    background-color: none;
    color:darkslategrey;

}
    .bottonbgM:focus{
        outline: 0 !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
.dropbg {
    background-image: url(images/vrSnipped2.JPG);
    background-size: cover;
    background-position: left;
}