<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mahtel.css" />
</head>
<body class="bgM">
    <header>
        <nav class="navbar navbar-expand-lg mainNavbg">
            <div class="container">
                <a class="navbar-brand text-light" href="#">Gaming Shop Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-light" aria-current="page" asp-action="Index" asp-controller="Home">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-light" asp-action="Privacy" asp-controller="Home">Privacy</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">My Account</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">My Orders</a></li>
                                <li><a class="dropdown-item" href="#">Shopping Cart</a></li>
                                <li><a class="dropdown-item" href="#">More options soon</a></li>

                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>

                            </ul>
                        </li>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                        {
                            <li class="nav-item"><a class="nav-link active" aria-current="page" asp-action="Logout" asp-controller="Users">Logout</a></li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link active" aria-current="page" asp-action="Login" asp-controller="Users">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <br />
        <br />
        @await Component.InvokeAsync("Menu")

    </header>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Shop_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
