@model IEnumerable<Shop_Project.Models.Console>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-none border-bottom box-shadow mb-3">
    <div class="container navbg">
        @foreach (var console in Model)
        {
            <div class="dropdown">
                <label type="button" class="btn dropdown-toggle bottonbgM"  data-toggle="dropdown" >
                    @console.Name
                </label>          
                <div class="dropdown-menu dropbg">
                    <a class="nav-link navcolor" asp-area="" asp-controller="Consoles"
                       asp-action="GamePage" asp-route-id="@console.Id"><b>Games</b></a>
                    <a class="nav-link navcolor" asp-area="" asp-controller="Consoles"
                       asp-action="ConsolePage" asp-route-id="@console.Id"><b>Consoles</b></a>
                    <a class="nav-link navcolor" asp-area="" asp-controller="Consoles"
                       asp-action="AccessoryPage" asp-route-id="@console.Id"><b>Accessories</b></a>
                </div>
            </div>

        }
    </div>
</nav>

<style>
    .navcolor {
        color: firebrick;
        padding-left:0;
        
    }
        .navcolor:hover {
            color: darkred;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
</style>