@model IEnumerable<Shop_Project.Models.Console>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
                    @foreach (var console in Model)
                    {
                        <div class="navbar-light box-shadow">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Consoles" asp-action="ConsolePage" asp-route-id="@console.Id">@console.Name</a>
                        </div>

                    }
                </ul>
            </div>
    </div>
</nav>