@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center">@ViewData["Title"]</h1>

<center>
    <p>
        <br />
        <h5 style="text-align:center; display:inline-block; justify-content:center">
            All products we sell are genuine and imported by our company from the manufacture.<br />
            Reselling from our shop is illegal.<br />
            All your data will not be shared with anyone beside the delivery company.<br />
            Credit card information will not be saved or used by the store owner.
        </h5>
    </p>

    <br />
    <br />

    <p>
        <br />
        <h5 style="text-align: center; display: inline-block; justify-content:center">
            Ⓒ All Rights Reserved Ⓒ
        </h5>
    </p>
</center>

